<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Esta é a página principal!</h1>
    <p>Este é um dos nossos usuários.</p>
    <ul>
        <li>
            <a href="/user">{{user.name}} {{user.surname}}</a>
        </li>
    </ul>

</body>
</html>