<header>
  <h1>ICEC Cursos Online</h1>
  <nav>
    <a href="/">Home</a>
    <a href="#sobre">Sobre Nós</a>
    <a href="#cursos">Cursos</a>
    <a href="/carrinho">Carrinho</a>
    <a href="/login">Login</a>
  </nav>
</header>