*{
    margin: 0;
    padding: 0;
}

.nav-container{
    display:flex;
    width: 100%;
    height: 50px;
    border: 1px solid grey;
    background-color: rgb(193, 193, 196);
    align-items: center;
}

.elements-container{
    display: flex;
    margin-left: 15px;
    width: 200px;
    justify-content: space-around;
}

.main-container-produtos{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 150px;
    margin: 0 auto;
    background-color: #eee;
    justify-content: space-around;
    margin-top: 30px;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2)
}
