<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>ICEC Cursos Online</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  {{> header}}

  <main>
    {{{body}}}
  </main>

  {{> footer}}

  <script src="/js/script.js"></script>
</body>
</html>