<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylessheet" href="/css/style.css">

</head>
<body>
    
    <p>Barra de navegação</p>
    <nav class="navbar">
        <div class="container-nav">
            <a href="/" class="logo">DevStore</a>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Promoções</a></li>
                <li><a href="#">Minha Conta</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {{{body}}}
    </div>
    <p>Rodapé...</p>

</body>
</html>